body{
    background-color:cornflowerblue;
}
h1{
    font-size: 120px;
    color: black;
    text-align: center;
    font-style: oblique;
}


img{
    width: 300px;
    height: 300px;
    margin: 60px;
    margin-left: 190px;
}